
Cartfile.resolved

Carthage

NearCat.xcodeproj/project.xcworkspace/xcuserdata/huchunbo.xcuserdatad/UserInterfaceState.xcuserstate

NearCat.xcodeproj/xcuserdata/huchunbo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

NearCat.xcodeproj/project.xcworkspace/xcuserdata/huchunbo.xcuserdatad/UserInterfaceState.xcuserstate

*.generated.swift
